/* Base Application Styles */
html{height:100%;}
body{height:100%;font-family:Tahoma,Helvetica,Arial,sans-serif;font-size:14px;line-height:1.428;color:#3c3c3c;background-color:#fff;margin:0;height:100%;}
/* Links ========================================================================== */
/** * 1. Remove the gray background on active links in IE 10. * 2. Remove gaps in links underline in iOS 8+ and Safari 8+. */
a{background-color:transparent;/* 1 */
    -webkit-text-decoration-skip:objects;/* 2 */
    -webkit-transition:all .25s ease-in-out;-moz-transition:all .25s ease-in-out;-ms-transition:all .25s ease-in-out;-o-transition:all .25s ease-in-out;transition:all .25s ease-in-out;}
/** * Remove the outline on focused links when they are also active or hovered * in all browsers (opinionated). */
a:active,a:hover{outline-width:0;}
/** * Add the correct font size in all browsers. */
small{font-size:80%;}
/** * Prevent `sub` and `sup` elements from affecting the line height in * all browsers. */
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sub{bottom:-0.25em;}
sup{top:-0.5em;}
/* Forms ========================================================================== */
/** * 1. Change font properties to `inherit` in all browsers (opinionated). * 2. Remove the margin in Firefox and Safari. */
button,input,select,textarea{font:inherit;/* 1 */
    margin:0;/* 2 */
}
/** * Show the overflow in IE. * 1. Show the overflow in Edge. */
button,input{/* 1 */
    overflow:visible;}
/** * Remove the inheritance of text transform in Edge,Firefox,and IE. * 1. Remove the inheritance of text transform in Firefox. */
button,select{/* 1 */
    text-transform:none;}
/** * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video` * controls in Android 4. * 2. Correct the inability to style clickable types in iOS and Safari. */
button,html [type="button"],/* 1 */
[type="reset"],[type="submit"]{-webkit-appearance:button;/* 2 */
}
/** * Remove the default vertical scrollbar in IE. */
textarea{overflow:auto;}
/** * 1. Add the correct box sizing in IE 10-. * 2. Remove the padding in IE 10-. */
[type="checkbox"],[type="radio"]{box-sizing:border-box;/* 1 */
    padding:0;/* 2 */
}
/** * Correct the cursor style of increment and decrement buttons in Chrome. */
[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto;}
/** * 1. Correct the odd appearance in Chrome and Safari. * 2. Correct the outline style in Safari. */
[type="search"]{-webkit-appearance:textfield;/* 1 */
    outline-offset:-2px;/* 2 */
}
/** * Remove the inner padding and cancel buttons in Chrome and Safari on OS X. */
[type="search"]::-webkit-search-cancel-button,[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
/** * Correct the text style of placeholders in Chrome,Edge,and Safari. */
::-webkit-input-placeholder{color:inherit;opacity:0.54;}
/** * 1. Correct the inability to style clickable types in iOS and Safari. * 2. Change font properties to `inherit` in Safari. */
::-webkit-file-upload-button{-webkit-appearance:button;/* 1 */
    font:inherit;/* 2 */
}
p{font-weight:400;line-height:23px;margin:0 0 10px;}
.clearfix:before,.clearfix:after,.dl-horizontal dd:before,.dl-horizontal dd:after,.container:before,.container:after,.container-fluid:before,.container-fluid:after,.row:before,.row:after,.form-horizontal .form-group:before,.form-horizontal .form-group:after,.btn-toolbar:before,.btn-toolbar:after,.btn-group-vertical > .btn-group:before,.btn-group-vertical > .btn-group:after,.nav:before,.nav:after,.navbar:before,.navbar:after,.navbar-header:before,.navbar-header:after,.navbar-collapse:before,.navbar-collapse:after,.pager:before,.pager:after,.panel-body:before,.panel-body:after,.modal-footer:before,.modal-footer:after{display:table;content:" ";}
.clearfix:after,.dl-horizontal dd:after,.container:after,.container-fluid:after,.row:after,.form-horizontal .form-group:after,.btn-toolbar:after,.btn-group-vertical > .btn-group:after,.nav:after,.navbar:after,.navbar-header:after,.navbar-collapse:after,.pager:after,.panel-body:after,.modal-footer:after{clear:both;}
.center-block{display:block;margin-right:auto;margin-left:auto;}
.pull-right{float:right !important;}
.pull-left{float:left !important;}
.hide{display:none !important;}
.show{display:block !important;}
.invisible{visibility:hidden;}
.text-hide{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0;}
.hidden{display:none !important;}
.affix{position:fixed;}
.text-center{text-align:center;}
.container{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto;}
.wrap{position:relative;width:100%;height:100%;}
.cardContainer{position:absolute;z-index:3;top:60px;left:4%;width:92%;}
.cardContainer img{width:100%;display:block;}
.wrap{background:url("../images/BG.jpg") center center no-repeat;max-width:600px;position:relative;margin:0 auto; min-height: 500px;}
.img-wrap img{display:block;width:100%;}
.logo-wrap{width:31.76%;margin:0 0 0 7.4%;padding-top:30px;}
.banner-wrap{width:72.78%;margin:0 auto 0 14px;padding-top:40px;}
.bd-wrap{width:85.2%;margin-left:7.4%;position:relative;/*background:rgba(255,0,0,0.3);*/
    z-index: 4;
}
.right-wrap{width:73.15%;position:absolute;bottom:21%;left:13.42%;z-index:2;}
.ft-wrap{position:absolute;bottom:12px;left:6.71%;width:44.37%;z-index: 1;}
.set-info-wrap{position: relative;}
.set-info-wrap .over{font-size: 30px;color: #cacaca;padding-top: 30px;display: block;text-align: center;}
.set-info-wrap .over-end{color: #ebf72c;}
.set-info-wrap .error-info{display:none;color:#e20f0f;position: absolute;bottom: -10px;background: rgba(0, 0, 0, 0.4);height: 42px;line-height: 42px;width: 100%;padding-left: 11px;font-size: 17px;font-style: italic;}
.set-info-wrap input{display:block;width:94%;padding:0 2.5%;margin-bottom:12px;outline:none;height:36px;background:#121f26;border:1px solid #6d7173;color:#6d7377;border-radius:2px;;line-height:36px;}
.set-info-wrap .sent-btn{display:block;background:#bc9b52;border-radius:4px;border:0;border-bottom:3px solid #715e33;width:100%;color:#fff;text-shadow:1px -1px 0 #715e33;font-size:18px;outline:none;height:38px;line-height:35px;}
.set-info-wrap .sent-btn:hover,.set-info-wrap .sent-btn:active{background:#8e743d;color:#efdcb4;border-bottom-color:#8e743d;}
.show-result{display:none;position:relative;padding-top:0;}
.result-wrap{position:relative;width:100%;}
.res-img{position:relative;}
.desc{color:#e0dbdb;font-size:16px;text-align:center;line-height:20px;}



/**
* iPhone 4/4s portrait
*/
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-device-pixel-ratio: 2)
and (device-aspect-ratio: 2/3)
and (orientation:portrait)  {

}

/**
 *  iPhone 5/5s portrait
 */
@media only screen
and (max-device-width : 320px){
    .wrap .set-info-wrap input{height: 32px;line-height: 32px;}
    .wrap .set-info-wrap .sent-btn{height: 32px;line-height: 30px;}
    .wrap .banner-wrap{padding-top: 30px;}
}
/*nexus 5*/
@media only screen
and (max-device-width : 360px){
    .wrap .banner-wrap{padding-top: 20px;}
    .wrap .set-info-wrap .sent-btn{height: 32px;line-height: 30px;}
    .right-wrap{bottom: 18%;}
    .ft-wrap{width: 40%;}
}


/*iPhone 6 Portrait*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) {

}

/*iPhone 6+ Portrait*/
@media only screen and (min-device-width: 414px) and (max-device-width: 736px){
    .wrap .set-info-wrap input{height: 40px;line-height: 40px;}
    .wrap .set-info-wrap .sent-btn{height: 42px;line-height: 40px;}
}


/*iPhone 6 and iPhone 6+ portrait*/
@media only screen and (max-device-width: 640px), only screen and (max-device-width: 667px), only screen and (max-width: 480px) and (orientation : portrait){

}

